h1 {
    background-image: url("https://images.ctfassets.net/hrltx12pl8hq/6TIZLa1AKeBel0yVO7ReIn/1fc0e2fd9fcc6d66b3cc733aa2547e11/weather-images.jpg?fit=fill&w=800&h=300");
    background-color: #455c72;
    color: #eef0f1;
    text-align: center;
}